{%extends 'base.html'%} {%block content%}
<main class="main-content">
  <div class="container">
    <div class="page">
      <!-- .row -->
      <div class="row mx-auto">
        {%if movies%} {%for movie in movies%}
        <div class="col-sm-6 col-md-3">
          <div class="card" style="width: 100%; border: none">
            <a href="{{movie.get_url}}">
              <img
                class="card-img-top"
                src="{{movie.movie_poster_link}}"
                alt="Card image cap"
              />
            </a>
            <div class="card-body">
              <h3 class="card-title text-center">{{movie.movie_name}}</h3>
            </div>
          </div>
        </div>
        {%endfor%} {%else%}
        <h2>No Movie Found</h2>
        {%endif%}
      </div>
      <!-- .row -->
    </div>
  </div>
  <!-- .container -->
</main>
{%endblock content%}
